---
import Globe from "../../icons/globe.astro";
import Section from "../Section.astro";
import Networks from "../Networks.astro";
---

<section class="mb-10 flex flex-col justify-between gap-10 sm:flex-row">
  <div class="order-last flex flex-col gap-2 sm:order-none">
    <h1 class="mb-2 text-3xl font-medium">Omar Baldomero Vite Allca</h1>
    <h2 class="font-medium">
      Estudiante de Ciencias de la Computación
    </h2>
    <span class="flex items-center gap-1 font-light"
      ><Globe /> Lima, Perú
    </span>
    <Networks />
  </div>
  <div class="flex min-w-fit justify-start sm:justify-end">
    <img
      src="https://avatars.githubusercontent.com/u/83891398?v=4"
      class="h-32 w-32 rounded-full object-cover"
      alt="ProfilePhoto"
    />
  </div>
</section>
<Section title="Sobre mí">
  <p class="text-justify font-light">
    Alumno del 7mo ciclo de la Universidad Nacional de Ingeniería. Actualmente
    soy miembro activo del grupo de divulgacion científica
    <a
      href="https://acecom.dev/"
      target="_blank"
      rel="noopener noreferrer"
      class="font-semibold text-teal-950 transition ease-in hover:text-lg">ACECOM</a
    >. Vivo en Lima, Perú. He participado en proyectos como diseñador y
    desarrollador frontend.
  </p>
</Section>
