---
import CertificateCard from "../CertificateCard.astro";
import Section from "../Section.astro";
---

<Section title="Certificados">
  <div class="flex flex-col gap-3">
    <CertificateCard
      title="Scrum Professional Foundation"
      provider="CertiOne"
      credential="https://certione.org/certificate-verification/35EF7B8-35EF694-303684B/"
    />
    <CertificateCard
      title="Programacion con Python"
      provider="CTIC UNI"
      credential="https://drive.google.com/file/d/16f3eh9EuBve7QQ0CtIVF34rBSsz_lpRz/view?usp=sharing"
    />
    <CertificateCard
      title="Universidad Java - Cero a Experto"
      provider="Udemy"
      credential="https://udemy-certificate.s3.amazonaws.com/pdf/UC-9eab8119-1673-4ecb-8107-1a49f234774a.pdf"
    />
  </div>
</Section>
