---
import Css from "../icons/css.astro"
import Git from "../icons/git.astro"
import Html from "../icons/html.astro"
import Java from "../icons/java.astro"
import Javascript from "../icons/javascript.astro"
import Tailwind from "../icons/tailwind.astro"
import Typescript from "../icons/typescript.astro"
import Vue from "../icons/vue.astro"
import Section from "../Section.astro"
---
<Section title="Habilidades">
    <div class="flex flex-wrap items-center gap-3">
        <span class="skillTag"><Html/>Html</span>
        <span class="skillTag"><Css/>Css</span>
        <span class="skillTag"><Javascript/> Javascript</span>
        <span class="skillTag"><Typescript/> Typescript</span>
        <span class="skillTag"><Vue/> Vue</span>
        <span class="skillTag"><Git/> Git</span>
        <span class="skillTag"><Tailwind/> Tailwind</span>
        <span class="skillTag"><Java/> Java</span>
    </div>
</Section>
<style>
    .skillTag{
        @apply flex gap-2 rounded-xl bg-stone-200 px-2 py-2
    }
</style>